.light{
  background-color: blue;
  color :aliceblue
}
.dark{
  background-color: black;
  color :white;
}

.maindiv{
  width: 100vw;
  height: 100vh;
}

.nav{
  display: flex;
 
  justify-content: flex-center;
  
}

.nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav li{
  margin: 0 10px;
  cursor: pointer;
}